.grid-container {
    display: grid;
    grid-gap: 20px;
}

@media (min-width: 786px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .header {
        grid-column: span 3;
    }

    .main {
        grid-column: span 2;
    }

    .footer {
        grid-column: span 3;
    }
}
