html {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    /* background-image: linear-gradient(to bottom right, #eee, #bbb); */
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.text-center {
    text-align: center;
}

.blue {
    background-color: royalblue;
}
.orange {
    background-color: peru;
}
.red {
    background-color: palevioletred;
}

.green {
    background-color: seagreen;
}

.grid-item {
    color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px 4px #ccc;
}

.title {
    text-align: center;
    margin-bottom: 40px;
}
