.grid-container {
    display: grid;
    grid-gap: 20px;
}

.btn {
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 786px) {
    .item1 {
        order: 3;
    }
    .item2 {
        order: 4;
    }
    .item3 {
        order: 1;
    }
    .item4 {
        order: 2;
    }
}
